# Mark everything as BASIC
* linguist-language=BASIC

#Mark documentation class
.hidden/doc/* linguist-documentation
.hidden/docs/* linguist-documentation
.hidden/documentation/* linguist-documentation

# Treat all .txt files as Markdown
*.md linguist-language=Markdown

# Treat *.h as c files
*.h linguist-language=C

