# Mark everything as BASIC
* linguist-language=BASIC

#Mark documentation class
.hidden/doc/* linguist-documentation
.hidden/docs/* linguist-documentation
.hidden/documentation/* linguist-documentation

#

